/* Styles for page header with gradient background */
.page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/carousel-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}